<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <title>jo offer letter</title>
  <style>
    body {
      background: #f6504f;
    }

    a {
      text-decoration: none;
      color: #fff;
      font-size: 30px;
      font-weight: 600;
      padding: 10px;
      background: #262626;
      border-radius: 10px;

    }
  </style>
</head>

<body>
  <center>

    Ati abbaa hiree keetiiti. Naannoo kee irratti dhiibbaa gochuu, qajeelchuu fi to’achuu dandeessa. Jireenya kee akka ati barbaaddu gochuu dandeessa.
    Hoggantoonni daldalaa gurguddoon mul’ata uumu, mul’ata sana ni ibsu, mul’ata sana quuqamaan qabatanii, boqonnaa malee gara xumuraatti oofu.
    Carraan kun nama hundaaf kan kennamu miti. Garuu namni carraa qabu qurxummii qabatee galaana keessaa ba'a.Tarii kan carraa qaban isaan ta'uu danda'a.
    Jaarraa 21ffaan bara saayinsii fi teeknooloojii jireenya dhala namaa jijjiiruu qofa osoo hin taane badhaadhina daangaa hin qabne fide yoo ta’u, diinagdeen dureeyyii hedduun beekumsa saayinsii fi teeknooloojii hedduu horataniiru.
    Ilaalcha gaarii cinaatti dhiifnee namoota yaada walfakkaataa qaban kanneen galma kee waliin of marsuun barbaachisaadha. Kunis sirna deeggarsa qabaachuu qofa osoo hin taane, namoota dhuunfaa kaka’umsa qaban biroo kanneen si jajjabeessanii fi si gaafatan bira jiraachuu dhaabuun rakkisaa ta’a. Gareen namoota milkaa’oo gaariin si jajjabeessuun karaa irra si tursiisuu danda’a. Kanaafis carraa isiniif kenninee jirra.Yeroo nu waliin tumsitan beekumsaa fi kaffaltii daangaa hin qabne argattu.
    <br>
    <br>
    Ogeeyyiin daldalaa akka jedhanitti, kanaan dura yeroon rakkisaa fi qormaataa ture; Amma garuu galata saayinsii fi teeknooloojiitiin dirree daldalaa babal’ateera.

    Guyyoota kanatti hojiin dhabamuun qaaniidha.Biyya keenyatti garuu komii malee salphina miti.Kana caalaa kan nama gaddisiisu jiraa? Maallaqa qisaasessuun qisaasama miti, dhaloota qisaasessuun garuu qisaasama.
    Dhugaan isiniin jedha, haala qabatamaa biyya keenyaa keessatti komii ta'uu danda'a, sababni isaas hawaasa ogummaa hin qabne keessatti hojiin waan hin jirreef.Kanaaf furmaanni ummata leenjisuu dha.
    Kanaaf hawaasa keenya barsiisuu fi hojii keenya babal’isuun dirqama hunda keenyaati.

    <br>
    <br>
    <h1>Dhugaa magaalota keenyaa!!!</h1>

    Yeroo ammaa magaalonni hedduun haala walxaxaa fi rakkisaa keessa jiraatu

    Kunis damee kamiinuu hariiroo hawaasaa fi humna namaa gidduu jiru irratti dhiibbaa uumeera.
    Mee waa siin gaafadha, yoo warqee qabaatte meetiin yoo siif kenname maal jetta? Biyyi keenya warraaqsa teeknooloojii waggoota kurnan darban keessatti addunyaa irratti mudateen duubatti haftee jirti.

    Kunis hariiroo hawaasaa fi humna misoomaa laaffiseera.Kunis humni misoomaa ammayyaa dhabuu irraa kan ka’e dha.

    Biyyoonni dinagdeen badhaadhan humna hojjetaa ogummaa qabu qabu.Warraaqsa saayinsii fi dinagdee fidu.
    <br>
    <br>
    Teeknooloojiin yoo babal'ate fedhiin namootaa ni dabala. Kunis gaaffii hedduu uuma. Furmaanni jiru humna hojjetaa gahumsa qabu ijaaruu qofa.
    Humna namaa gahumsa qabu hawaasa gurmaa’ee fi barate keessatti qofa guddachuu danda’a, kanaaf walitti hidhamiinsa hawaasummaa fi ijaarsi hawaasaa barbaachisa.
    .Hawaasni yoo ijaarame humni namaa ni ijaarama. Hawaasa gaafataa dhaloota egeree ijaaru ijaaruun hojii ijoo hunda keenyaa ta'uu qaba.
    Kabajamtoota hiriyoota!!! Humni hojjetaa bilchaataa ta’e hawaasa qaroome keessatti qofa mul’ata. Akkuman jedhe abjuun koo biyya qaroomte ijaaruu fi qeerroo humneessuudha, warraaqsa kana keessatti akka makamtan kabajaan isin afeera.
    Har’a hundi keenya haala rakkisaa nama hin amansiifne keessa jirra; Garuu hanga yoomitti rakkoo fi duubatti hafummaa qofa ilaalla?
    Uummata barate ijaaruu; Qeerroo humneessuun itti gaafatamummaa hunda keenyaati.
    <br>
    <br>
    <h1>Kaayyoon keenya ummata leenjisuu fi Qeerroo humneessuudha!!</h1>


    Yeroo ammaa kana biyyi keenya humna namaa leenji'e dhabuu irraa kan ka'e harqoota kufaatii keessa jirti.

    Biyyi keenya qabeenya dinagdee hedduu qabdi, isaan keessaa tokko damee ijaarsaa yoo ta’u, biyyi keenya ammatti humna namaa teeknooloojiin deeggaramee damee ijaarsaa kanaaf ta’u waan hin qabneef kasaaraa guddaa fideera.

    Manni ijaarre dhaloota dhufuuf wabii yoo hin taane gatii maalii qaba?
    Har'a yoo ijaarre boru yoo diigame baasii nuti baasnu mana ijaarruun wal hin madaalu. Kanaaf furmaanni maali?
    Akkuman isiniin jedhe kaayyoon keenya ummata barsiisuu fi qeerroo humneessuudha.
    Tajaajila keenya bilisaa!!
    Mana isin lafa keessan irratti ijaaruu barbaaddan dizaayinii goona.
    Bareedina mana keessanii dizaayinii goona.
    Humna namaa gahumsaa fi leenji'e barbaachisu isiniif dhiyeessina.
    Jipsum molding magaalota gurguddoo qofa keessatti argama.Hojii kana gatii salphaadhaan isiniif dhiyeessuu keenyatti gammadneerra.Jypsum molding magaalaa addunyaa irratti teknooloojiin sadarkaa olaanaa qabdu yoo ta'u, yeroo dhiyootti magaalota biyya keenyaatti babal'isuuf cimnee hojjechaa jirra.
    Hunda caalaa hojii jipsii wajjin walqabatu yoo ilaalle waan nama gaddisiisu ni argina.Kun maaliif?

    <h1>Wallaalummaan cubbuu miti.</h1>

    Gamoowwan addunyaa kanarraa mimmiidhagoo fi yeroo dheeraa turuu danda’an keessaa %80 kan ta’an jipsii irraa kan hojjetamanidha.
    <br>
    <br>

    <h1>Akeekkachiisa</h1>

    Jiipsii mana keenya bareecha, umurii mana keenyaa dheeressa hunda caalaa immoo bareedinni isaa ajaa'iba. Humna namaa ogummaa qabu qofaan kan hojjetamu yoo ta’u, wixineen hojii kanaa baay’inaan kompiitaraan kan hojjetamu yoo ta’u, humna namaa baratee fi leenji’e barbaada.
    Warri koo kan darbe dhumateera boruuf abdii haa qabaannu dhaloota haa ijaarru mariitiin furmaanni jira.Dhaabbata keenya waliin mari'annee teknooloojii jaarraa 21ffaa waliin wal barre.

    Saba kootiif jiraadha.
    <br>
    <br>

    Hojimaata ijaarsa itti fufiinsa qabu fudhachuu irraa kaasee hanga magaalota ismaartii misoomsuutti,
    egeree ijaarsaa boru ifaafi bu’a qabeessa ta’e ijaaruudha. Industiriin ijaarsaa guddachaa dhufuun,
    teknooloojiin iddoowwan ijaarsaa fi magaalota nageenyaafi walitti hidhamiinsa akka qabaatan gochuu barbaada.
    <br>
    <br>
    Dirooniin fi AI humna sakatta'iinsa saffisiisuu kan qaban yoo ta'u, yeroo walfakkaatutti baasii hir'isu.
    Dhugaan dhugaa (virtual reality) mul’ata gamoolee kutaalee xiqqaa guutuuf — magaalotaaf illee — yeroo tokkotti jireenyatti fiduu danda’a.
    Tarii gara fuulduraatti galmi guddaan indaastirichaa ijaarsa anniisaa zeeroo qulqulluu ta’uu danda’a.
    <br>
    <br>
    Magaalonni boruu maal fakkaatu jettanii yoo yaaddan, caqasoonni egeree ijaarsaa kunniin akeekkachiisa isiniif kennu — waan ijaaraa jirrus yaadadhaa.

    Teeknooloojiiwwan augmented fi virtual reality egeree ijaarsa ismaartii yoo ta'an, carraawwan jiran arguu jalqabneerra.
    <br>
    <br>
    "Egereen ijaarsaa namoota qofa irratti hundaa'a."
    <br>
    <br>
    "Addunyaa kana irratti magaalota namoota tajaajilan fooyya'aa taasisuu caalaa wanti salphaan ykn gatii salphaan hin jiru."
    <br>
    <br>
    Ammas karaa dheeraa osoo nurra jiruu, envelope kana daran gara ijaarsa anniisaa zeeroo qulqulluutti dhiibuu jalqabneerra.
    <br>
    <br>
    "Egereen ijaarsaa gamoo ismaartii, anniisaa qulqulluu zeeroo keessatti... Sun kutaalee nama hin qabne keessatti ho'a jijjiiruu yookaan kirkira lafaa irraa of eeguuf deebii kennuu jechuu haa ta'u, egeree gamoo ismaartii dha. -l."
    "Gamoo qofa hin ijaarru; mana uumna, magaalota bocna, egeree ijaarra."
    <br>
    <br>
    "Artificial intelligence, virtual reality, 3D processing fi suuraan qulqullina olaanaa qabu baay'ee waan babal'atuuf daawwannaan bakka sanatti adeemsa hordofuuf taasifamu dulloomee ta'a."
    <br>
    <br>
    "Egereen indaastirii ijaarsaa daldala aadaa qalamaa fi waraqaa, analoogii, bilbila bilbiluu irraa gara dijitaalaatti akka ce'u nan arga."
    <br>
    <br>
    "Akkuma baasii anniisaa dabaluu fi gibirri kaarboonii dhugaa ta'u, gamoonni anniisaa mataa isaanii maddisiisan waanuma barame ta'u."
    <br>
    <br>
    "Meeshaaleen ofumaan hojjetan sarara gadii jijjiiru."
    <br>
    <br>
    "Baasii meeshaalee fi lafaa dabalaa dhufuu isaatiin, akkasumas sadarkaa ijaarsa magariisaa irratti xiyyeeffannoo guddaa kennuudhaan, akkaataa itti ijaarru, meeshaalee itti fayyadamnuu fi eessatti akka ijaarru yaaduu qabna."

    Cilee nuti kaa'an hundi bu'uura egeree namaati.
    <br>
    <br>
    "Ijaarsi dhimma abdii qabuudha; dhimma egeree ofitti amanamummaadhaan fudhachuudha."
    <br>
    <br>
    Enyuyyuu nutti dabalame ofis tahe biyyaa isaatif waan guddaa hojjechuu dandaha.namni carrome afferra hojii argatee kaffaltiin isaa karaa systema algorithm
    keenya akka kanatti taha
    1 10%(r)<br>

    2 5% (r+r+r.....)
    <br>

    3 2.5(r+r+r.......)<br>
    Fkn
    R=70000 the systems pays 70000×10/100=7000<br>
    The 1st level payment for you<br>

    70000×5/100=3500 if r=3 <br>
    3×3500=10500<br>
    If r=5<br>
    5×3500=17500<br>
    This is the second level for you<br>

    70000×2.5/100= 1750<br>
    If r=10<br>
    10×1750=17500<br>
    Beeksisa marsaa tokkoo qofaan namni tokko kaffalti qarshi 42000 argachuu dandaha jechudha.
    Kana jechuun namni x jedhamu job offer dhaabbata keenya irraa argate yeroo jalqabaaf nama z jedhamu barsisee fayyadama teekinoloji keenyaa yoo taasisee. Namni kunimmo qarshii 70000 yoo waligaltee raawwate 10% isnif kaffalama jechudha.namni isin dhaabbata kanaaf kennitan kun immoo custem bira yommu dhaabbatta kanaf gumache tokkon tokkon isaa irraa 5% argattu jechudha. Namoonni dabalata kunninis tokkon tokkon isaani nama biroo yoo afferan namoota haara afferaman kanarrayis 2.5% argattu jechudha.
    Namni jalqaba isin affertan
    10%r jedhamu
    Namonni nama tokkoffaa 10%r dhan affeeraman immoo
    5%(r+r+....)jedhamu
    Namoonni nama lammaffaa 5%(r+r+....)
    Afferaman immoo 2.5%(r+r+r........)
    Jedhamu.
    Kaffaltin isin nu wajjin qabdan asirratti dhumata kaffaltii dabalata argachuuf 10%(r) bira barbaadun itti fufuu dandessuu jechudha.

    <br>
    <br>
    <br>
    <a href="/getjoboffer">signup</a>

    <br>
    <br>
    <br>
    odeffanno dabalataaf 0920058409
  </center>

</body>





</html>